# Project`s configuration files
.vscode/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debug Files
*.pdb
*.dSYM/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build directories
build/
cmake-build-*/

# IDE
.vscode/
.idea/

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

#internal folders with developer debug information
debug/
Untracked/
